
<trailers>
<trailer>
<title>The Fault in Our Stars: Trailer</title>
<link>
http://www.traileraddict.com/the-fault-in-our-stars/trailer
</link>
<pubDate>Wed, 29 Jan 2014 10:11:53 -0800</pubDate>
<trailer_id>86052</trailer_id>
<imdb>2582846</imdb>
<embed>
<![CDATA[
<iframe width="480" height="270" src="http://v.traileraddict.com/86052" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" frameborder="0"></iframe>
]]>
</embed>
</trailer>
</trailers>