
<!-- don't need html, head, body tags bc layout already has those -->


<h1>Uhoh, we could not find what you were looking for. Try again.</h1>
<p></p>
<body>
	<img src="http://media.giphy.com/media/j0ADYtzavC2xW/giphy.gif"/>
	<br></br>
	<p>Please search again:</p>

	<form method="get" action="/results">
	<input type="text" name="movie" placeholder="Title or IMDB number">
	<input type="submit">
	</form>

</body>