<head>
	
<title>
	Moogle
</title>

</head>

<body>

	<h1>
		<div class = "moogle">
			<div class = "letter_1">M</div>
			<div class="letter_2">o</div>
			<div class="letter_3">o</div>
			<div class="letter_4">g</div>
			<div class="letter_5">l</div>
			<div class="letter_6">e</div>
		</div>
	</h1>
	<br>
<div class = "form">
<form name="myform" method="<%= @method %>" action="<%= @action %>">
<input size = "100" width ="48" height="48" type="text" name="query" placeholder="<movie search>"  required focus />
</div>
<div class = "MoogleSearch">
<button size = "100" type="submit">Moogle Search</button>
</form>
</div>
</body>