<head>
	<link type="text/css" rel="stylesheet" href="style.css" />
	<title>index</title>
</head>
<body>
	<div class="container">
		<div id="index_bg"
			<div class="form">
				<h1>ENTER YOUR SEARCH HERE!</h1>
				<form action="/show" method="get">
				<input type="text" name="movie" >
				<button>Submit</button>
			</div>
		</div>
	</div>
</form>
</body>


