<h1>Welcome to Flick Finder!</h1>

<img src= images/cat.gif>

<form method="get" action="/results">
	 <input placeholder="Enter Movie Title" name="movie" type="search">
	 <input type="submit" value="Search"> 
</form>
