<br><br><br>
<h1>Welcome to the Movie Search</h1>
<br><br><br><br><br><br><br><br>

<form id="form" action="/search" method="get">
  Movie: <input class = "search" type="text" name="movie" placeholder="Enter movie here."><br>
  <input class="button" id="go_button" type="submit" value="Go!">
</form>