<!--list of results-->
<ul>
	<% if @movies == nil %>
		<p> Sorry, movie not found. Try again! 
		<form method="get" action="/results">
		<input type="text" name="movie">
		<input type="submit">
		</form>
	<% else %>
	<% @movies.each do |mov|%>
		<li>
			<a href='/info/<%=mov["imdbID"]%>'>
				<%=mov["Title"]%> (<%=mov["Year"]%>)<br></br>
			</a>
		</li>
	<% end %>
		<% end %>
</ul>

