<DOCTYPE! html>
<html>
<head>
</head>
<body>
	<div id = "HP_body">
		<img id="HP_Logo" src = "http://i.imgur.com/oN6GbwH.png"/>
		<form action="/results" method="get/">
			<input id = "HP_Search_Box" type="text" name="movie" placeholder="E.g. Forrest Gump"><br/>
	    	<input value="Search for a movie" type="submit">
		</form>
	</div>
</body>
</html>




