<!--list of results-->
<ul>
	<% if @movies == nil %>
	<p>Oops! We can't find that movie. Please search again. 
	<form method="get" action="/results">
	<input type="text" name="movie" placeholder="Search for Movies">
	<input type="submit">
	</form>
	</p>


	<% else @movies.each do |movie| %>	
	<li>
	<a href='/movie/info/<%=movie["imdbID"]%>'>
	<%=movie["Title"]%> - <%=movie["Year"]%><br></br></a>
	</li>
	<% end %>
	<% end %>
	</ul>

