<!-- This is the index (home page) view with form file. -->

<body>
	<h1>Please enter a movie you'd like to know about: </h1>
<form method="get" action="/results">
<input type="text" name="movie" >
<input type="submit">
</form>


