<body>
<div>
<h1 id="page1">Please Enter A Movie Title</h1>
      
      <form method=get action='/results'>
		<input type='text' name='movie'>
		<input id="submit" type='submit'>
	  </form>
</body>	
<div>