<!-- main page -->
<section class="index">
<p>Quickly search the <br><a href="http://www.imdb.com">Internet Movie Database</a> <br>for information on nearly <br>3 million movies and TV shows.</p>
</section>