<div class="search-form">
	<h1>Welcome to the movie database!</h1>
		<h2>Please enter a movie:</h1>
			<form action="/search" method="get">
				<input id="movie" name="movie" type="text" placeholder="Search any movie" />
				<input name="commit" type="submit" value="Search"/>
	 		</form>
</div>
