<!DOCTYPE html>

<!-- this should be your form -->

<html>
<header>
	<h2>Chewbacca says you want to research a movie!</h2>
</header>

<body>
	You can do that right here:<br></br>
	<div class="form">
	<form method="get" action="/results">
	<input type="text" name="movie" placeholder="Title or IMDB number">
	<input type="submit" class="btn btn-sm btn-danger"></button>
	</form>
	</div>
	<br></br>

	
	<img src="<%=@image_url%>"/>

	</body>

	</html>
