<h1>Welcome to the movie searching database app!</h1>
<div class="search-form">
<h1>Find a Movie!</h1>
<form action="/result" method="get">
<input id="movie" name="movie" type="text" placeholder="Search any movie" />
<input name="commit" type="submit" value="Search"/>
</form>
</div>