<h1>Welcome to Flick Finder!</h1>


<!-- <background= url images/PopcornKernel.gif> -->
<!-- <body background="images/PopcornKernel.gif"> -->
<img src= images/cat.gif>

<form method="get" action="/results">
 <input placeholder="Enter Movie Title" name="movie" type="search">

    <!-- name references to params -->
 <input type="submit" value="Search"> 
<!--  <button> Search </button> -->

</form>
