<!--list of results-->
<ul>
	<% if @movies == nil %>
	<p>Oops! We can't find that movie. Please search again. 
	<form method="get" action="/results">
	<input type="text" name="movie">
	<input type="submit">
	</form>
	</p>


	<% else @movies.each do |h|%>	
	<li>
	<a href='/movie/info/<%=[":imdbID"]%>'>
	<%=h["Title"]%> - <%=h["Year"]%><br></br></a>
	</li>
	<% end %>
	<% end %>
	</ul>

