<!-- Stock Quote View -->
<h2>Select a Movie</h2>
<div>
  <% @movies.each do |movie| %>
      <div ><a class="list" href="/movie/<%= movie['imdbID']  %>" > <%= movie["Title"] %> </a></div>
  <% end %>
</div>
<div>
</br>
  <a href="/"><button>Movie Search</button></a>
</div>