<!DOCTYPE html>

<html>
<div id="container">
	<div id="header">
		<head>
			<p>Search for Movies</p>
			<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
				  	<title>BC Movie Search</title>
		</head>
	</div>
	<div id="body">
		<body>
	  	<%= yield  %>
		</body>
	</div>
	<div id="footer">
		<p>Created by: Blair Cuny, WDI April 2014</p>
	</div>
</div>
</html>
