<!doctype html>
 <html>
 <head>
  <title>Movies</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css">
  <link href="css/hover-min.css" rel="stylesheet">

 </head>

<body>

<header> 
</header>
      <%= yield  %>     
</body>
</html>