<!DOCTYPE html>
<html>
<head>
  <title>Movie Search App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div id="banner">
      <h1 id="logo"><a href="/">Sam's Movie Search App</a></h1>
    </div>

      <%=yield%>
    </div>
</div>
</body>
</br>
<footer>&copy;Warsama P. Gabriel 2014</footer>

</html>