<!DOCTYPE html>
<html>
<head>
  <title>Movie Search</title>
</head>
<body>
	<header>
	<h1>Movie Search</h1>
		<form action="/search" method="get">
			<input type="text" name="movie" placeholder="movie title">
			<input type="submit" value="Search">
		</form>
	</header>
    <section><%= yield  %></section>
</body>
</html>