<!DOCTYPE html>
<html>
	<head>
 		<link rel="stylesheet" type="text/css"  href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>Movies Searcher!</title>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<br>

				<%= yield  %>

				<br>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer"></div>
				<div class="box"></div>
			</div>
		</div>
	</body>

</html>
