<!doctype html>


<html>

	<head>
	  <title>Awesome movie search!</title>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>


	<body>
	      <%= yield  %>
	</body>
 
</html>