<!DOCTYPE html>

<!-- Copied from the example sinatra_views -->

<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
		</head>
		<body class="container">
				<%= yield %>
		</body>
</html>

