<!DOCTYPE html>


<html>

	<head>
		<link rel="stylesheet" href="/css/style.css">
		<title>Movies by Zoe</title>
	</head>

	<body>
		<br>
		
		<%= yield  %>
		
		<br>
		<div class="box"></div>
	</body>
	
	<footer>
		Background courtesy of Dreamstime Stock Photos | © Cristian Nitu
	</footer>
</html>