<!doctype html>
<html>
<head>
  <title>Movies</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
<header>
  <h1> WeLcOmE tO MoViE SeArCh.. </h1>
</header>
      <%= yield  %>
      
</body>

</html>