<!DOCTYPE html>
<html>
<head>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
  	<title>Film Ferret</title>
</head>
<body>
	<header>
		<a href="/"
			<h1 id="title">Film Ferret</h1>
		</a>
	</header>
	<div class="row" id="main">
	  <div class="col-lg-3"></div>
	  <div class="col-lg-6" id="content">
	  	<%= yield %>
	  </div>
	  <div class="col-lg-3"></div>
 	</div>
</body>
</html>
