<!doctype html>
 <html>
 <head>
  <title>Movies</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css">
  <link href="css/hover-min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
 </head>

<body>

<header> 
</header>
      <%= yield  %>     
</body>
</html>