<!DOCTYPE html>
<html>
<head>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
  	<title>Film Ferret</title>
</head>
<header>
<h1>Film Ferret</h1>
<h2>Find facts on your favorite films!</h2>
</header>
<body>
   <%= yield  %>
</body>
</html>




