
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>JP MovieData</title>
</head>

<body>
<!-- 	<p>This is in the layout boilerplate!</p>  -->
    <%= yield  %>

</body>
</html>

<!-- comment format -->