<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="stylesheet.css">
  	<title>Movie Search</title>
</head>
<h1>Groovy Movies</h1>
<h2>Search our database for your favorite movie!</h2>
<body>
      <%= yield  %>
</body>
</html>