<!-- list of movies returned by search -->
<% if @results == nil %>
	<p class="error">Error: Movie not found!</p> 
<% else %>
	<section class="list"> 
		<ul>
	<% @results.each do |movie| %>
			<li class="list_item"><a href='/detail/<%=movie["imdbID"]%>'><strong><%=movie["Title"]%></strong> (<%=movie["Year"]%>)</a></li>
	<% end %>
		</ul>
	</section>
<% end %>