

<!-- 	<result["Search"].each do |movie|
    str += "<br><a href=/poster/#{movie["imdbID"]}> #{movie["Title"]} - #{movie["Year"]} </a><br>"
  end
  str
end  
 -->
<%if @movies == nil || @movies == ''%>
<h1>Error, that movie doesn't exist!</h1>
<form method="get" action="/">
 <!-- <input placeholder="Movie title" name="movie" type="search"> -->

    <!-- name references to params -->
 <input type="submit" value="Return to Search "> 
<!--  <button> Search </button> -->

</form>
<%else%>
<h1>Movie List</h1>
<div>
<ul class="popcorn">
	
 <% @movies.each do |movie| %>
 <li>
 <a href='/poster/<%=movie["imdbID"]%>'>
 <%= movie["Title"]%>
 <%= movie["Year"] %>
</a>
 </li>
 <% end%>
 <%end%>

</div>
<div>
 	
 </ul>	
 <img src= images/countdown.gif>
</div>


