<!-- This is the search results (list) view file. -->

	<% @omdb_data["Search"].each do |movie| %>
<li>
	<a href='/poster/<%=movie["imdbID"]%>'>
	<%= movie["Title"] %> - <%= movie["Year"] %><br></br></a>
<% end %>
</li>