<!--search results-->
	

	<div class="search_form">
		<p class="white"> <I>Please enter a movie title<br>for film ferret to find:</I></p>
		<br>
		<form method="get" action="/results">
			<input class="search_box" type="text" name="movie">
			<br>
			<input class="btn" type="submit">
		</form>
	</div>