<div class = "header">
<h1> <a class = "headline" href = '/'> Flixter </a></h1>
<h5> Enter a movie name or IMDB id: </h5>
</div class = main>
<div class = "form">
<form method="get" action="/results">
<input type ="text" name="movie">
<input type="submit">
</form>
</div>
</div>



<!-- <div class = "home_image"
<center><img src="http://i.imgur.com/qHVzmVN.jpg"/></center>
</div> -->

<!-- header is a class which is a box which will have h1 and p
form is a class for for styling the form
home image is a class and is just for the home image -->
<!-- 
class = header
shows only p for home page

class = form
shows only form for home page

class = home image
shows only image for home page -->