  
<form action="/results" method="get">

<h1 class="animated @keyframes tada"> WeLcOmE tO MoViE SeArCh.. </h1>
<p class="animated @keyframes bounceInUp"> Type in any movie you want!</p>
<div class"butfor">
<input type="text" name="movie" id="button" class="animated @keyframes bounceInLeft" placeholder="E.g. Glitter, Crossroads" />

<button type="submit" class=" animated @keyframes bounceInRight" id="sub"> Submit</button> 
<!-- <footer>Shane</footer> -->
</form>
