<!---search results-->

<div class= search-form>
	<p>Get Movie Info</p>

	<form method="get" action="/results">
		<input type="text" name="movie" placeholder="Search Title...">
		<input type="submit">
	</form>
</div>