
<div class="Search">
<h1>Enter a Movie title here to Search<h1>
		
	 		<form method="get" action="/results">

	 		<input type='text' name='movie'autofocus>
	 		<input id="submit" type='submit'>

	 		</form>
</div>