<div class="container">
<p class="lead">
	Terms of Service - User Agreement

Acknowledgment and Acceptance
Groovy Movies ("Provider") shall provide Image Editing and Hosting Services to an individual or organization ("Client") under these Terms of Service ("TOS"), as well as any operating rules or polices, current and future, published at the Provider's website.
This TOS shall be binding on both Provider and Client and shall include but not be restricted to services ("Service") for Image Editing and Hosting. In this TOS, "we," "our" and "us" means Provider and "you" or "their" means Client.
Provider reserves the right to refuse Service to any individual or organization, for any legal, moral or ethical reasons.
Description of Services
Provider will give Client the ability to Edit and Store Images that shall be accessible via the Internet and World Wide Web and be considered to be Hosted by Provider.
While Provider shall make every reasonable effort to protect Client's Images stored using the Service, Provider is not responsible for theft, loss of, or damage to them. Client is solely responsible for maintaining backups of their own Images, and agrees to immediately notify Provider of any unauthorized use of their account or any other breach of security known or suspected by Client.
The Service makes use of the Internet to conduct limited business and disseminate information; therefore, Client's conduct is subject to Internet regulations, policies and procedures.

</p>
</div>