body {
  font-family: sans-serif;
  color: #2f2816;
  text-align: center;
  background-image: url('/dreamstimefree_126860.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ab9e77;
	margin: 20px;
  }

	}
  h1 {
  	font-size: 28px;
  	z-index: 2;
  }
  .results {
  	text-align: center;
  }

	img {
	  float: left;
	  margin-right: 20px;
	} 

	.details {
		text-align: left;
	}
		a {
	 		color: #2f2816;
	 	}

  .go_home {
  	background-color: white;
  	padding: 5px;
  	border-radius: 10px;
  	font-weight: bold;
  	text-decoration: none;
  }

	.box {
  	position: absolute;
  	top: 35px;
  	left: 0px;
  	background-color: white;
  	opacity: .5;
  	height: 600px;
  	width: 100%;
  	z-index: -1;
  }
footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 12px;
}
  

 /* for contrast colors/borders etc #ab9e77
  palette http://www.color-hex.com/color-palette/2350 */