

body {
	background-image:url("http://i.imgur.com/KczMKxH.jpg");
	margin:40px;
	padding:20px;
	background-position: center;
}

.wrap {
	width:1000px;
	margin:0 auto;
	background:#000000;
	border:solid white 1px;
}

.header {
	height:200px;
	width:1000px;
}

h1 {
	text-align:center;
	font-size:60px;
	font-family:Impact;
	padding:30px;
	margin:0;
}

.headline {
	text-decoration:none;
	color:#6BC221;
}

.main {
	background:#000000;	
	padding:20px;
}

h5 {
	text-align:center;
	font-size:18px;
	font-family:Verdana;
	color:#FEAB28;
	padding:20px;
	margin-top: 20px;
}

p {
	text-align: center;
	font-size: 12px;
}

.form {
	text-align: center;
	padding:20px;
	margin-top: 2px
}

li {
	text-align: center;
}


.footer {
	text-align:left;
	font-family: verdana;
	font-weight: bold;
	padding:14px;
	color:#6BC221;
	float:bottom;
	margin-bottom:5px;
}

.movie_details {
	margin-top:-35px;
	font-family:Verdana;
}

.poster {
	float:left;
	border:solid white 1px;
	height:450px;
	width:350px;
	margin-right: 30px;
	margin-left: 10px;
}

ul {
	text-align:left;
	color:#FEAB28;
	font-family: Verdana;
	font-size: 11px;
	background: black;
	margin-left: 10px;
}

h6 {
	color:#6BC221;
	font-family: Verdana;
}

.movies_list {
	font-family: Verdana;
}


a {
    text-decoration:none;
    color:#FEAB28;
}

.homepage_link {
	text-align:center;
	height:20px;
	text-decoration:none;
}






